﻿* {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}

#question {
    background-color: white;
    height: 70px;
    padding: 10px;
    color: black;
    text-align: center;
}

.question p {
    color: white;
}

ul {
    list-style-type: none;
}

.nav-item {
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}


#row-service-info img {
    padding-top: 50px;
}
#addNewNetwork{
    width:200px;
    height:100px;
}
@media(max-width:768px) {
    #navbarNav {
        background-color: white;
    }

        #navbarNav .nav-link {
            color: black;
        }

        #navbarNav .nav-item #login {
            background-color: darkgray;
            color: black;
        }

    #heading-content h2 {
        font-size: 1.5rem;
    }

    #heading-content h1 {
        font-size: 3rem;
    }

    #heading-content h3 {
        font-size: 0.8rem;
    }

    #login, #search {
        margin-left: 5px;
    }

    #about-service p h3 {
        font-size: 0.8rem;
    }

    #question h1 {
        font-size: 2rem;
    }

    #contact .row .col-md-4 {
        padding: 20px;
    }
}
